<p-card>
  <div class="flex flex-column gap-2 mb-3">
    <label for="email">Email:</label>
    <input pInputText type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email">
  </div>

  <div class="flex flex-column gap-2 mb-3">
    <label for="password">Password:</label>

    <input pInputText [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel"
      [(ngModel)]="user.password">

  </div>

  <p-button class="flex justify-content-center" type="button" (click)="signIn()" severity="success" [disabled]="loading" label="Sign In" [raised]="true"
    [outlined]="true">
  </p-button>
</p-card>